// Fonts
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
Helvetica,
"PingFang SC",
STXihei,"华文细黑",
"Microsoft YaHei","微软雅黑",
SimSun,"宋体",
Heiti,"黑体",
sans-serif;
$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;

// Colors
$bg-color: #eceff4 !default;
$fg-color: #2E3440 !default;
$alt-bg-color: #D8DEE9 !default;
$alt-fg-color: #3B4252 !default;
$darker-alt-bg-color: #4C566A !default;
$link-color: #5E81AC !default;

// Dark colors
$bg-color-dark: #2E3440 !default;
$fg-color-dark: #E5E9F0 !default;
$alt-bg-color-dark: #434C5E !default;
$alt-fg-color-dark: #D8DEE9 !default;
$lighter-alt-bg-color-dark: #4C566A !default;
$link-color-dark: #81A1C1 !default;

// Notice colors
$fg-color-notice-note-icon: #B48EAD !default;
$bg-color-notice-note-title: #B48EAD !default;
$bg-color-notice-note-content: #B48EAD !default;
$fg-color-notice-tip-icon: #88C0D0 !default;
$bg-color-notice-tip-title: #88C0D0 !default;
$bg-color-notice-tip-content: #8FBCBB !default;
$fg-color-notice-example-icon: #4C566A !default;
$bg-color-notice-example-title: #434C5E !default;
$bg-color-notice-example-content: #434C5E !default;
$fg-color-notice-question-icon: #A3BE8C !default;
$bg-color-notice-question-title: #A3BE8C !default;
$bg-color-notice-question-content: #A3BE8C !default;
$fg-color-notice-info-icon: #81A1C1 !default;
$bg-color-notice-info-title: #5E81AC !default;
$bg-color-notice-info-content: #81A1C1 !default;
$fg-color-notice-warning-icon: #EBCB8B !default;
$bg-color-notice-warning-title: #D08770 !default;
$bg-color-notice-warning-content: #EBCB8B !default;
$fg-color-notice-error-icon: #BF616A !default;
$bg-color-notice-error-title: #BF616A !default;
$bg-color-notice-error-content: #BF616A !default;
